<header class="display-flex flex-center flex-middle">
  <a [routerLink]="['/']" class="logo"><img src="assets/images/logo.svg" alt="awix"></a>
</header>

<div class="content display-flex flex-center flex-middle">
  <button [routerLink]="['/','signin']">Sign in</button>
  <button [routerLink]="['/','signup']">Sign up</button>
  <button [routerLink]="['/','recover']">Recover</button>
  <button [routerLink]="['/','recover-success']">Recover-success</button>
</div>

<footer class="display-flex flex-center flex-middle">
  <p class="disclaimer">2017 © AWIX</p>
</footer>
