.sidebar-wrapper {
  position: relative;
}

.nav {
  padding-left: 0;
  padding-top: 15px;
  margin-bottom: 0;
  list-style: none;
}

li {
  position: relative;
  display: block;
}

a {
  color: #FFFFFF;
  margin: 0 15px;
  border-radius: 3px;
  padding: 10px 10px;
  position: relative;
  display: block;
  text-decoration: none;
  background-color: transparent;
}

.active a{
  background-color: #FFFFFF;
  color: #3C4858;
  opacity: 1;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

li>a>p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  display: block;
  height: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 300ms linear, transform 300ms linear;
  -moz-transition: opacity 300ms linear, transform 300ms linear;
  -o-transition: opacity 300ms linear, transform 300ms linear;
  -ms-transition: opacity 300ms linear, transform 300ms linear;
  transition: opacity 300ms linear, transform 300ms linear;
}
