//COLOURS CONST
$YELLOW: #FDC700; /* primary yellow */
$BLUE: #469ADA; /* primary blue */
$BLUE-LIGHT: #6DBDFA; /* blue button hover mode */
$RED: #E51E12; /* primary red */
$RED-LIGHT: #E73B3B; /*header bg*/
$GREEN: #25A836; /* primary green */
$GREEN-LIGHT: #3AD74F; /*green button hover mode*/
$GRAY: #676767; /* primary fonts and icons colour */
$GRAY-LIGHT: #BDBDBD; /* countdowns etc.. */
$GRAY-LIGHTER: #ECECEC; /* borders etc.. */
